body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #C9D6E8;
  }
  .team-container-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .card2 {
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
  }
  
  .card2 .name {
    padding: 15px;
    font-size: 20px;
    font-weight: Italic;
  }
  